@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #441a05;
  --primary: #441a05;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-nunito-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
}
